In [12]:
import pandas as pd
from scipy.spatial import distance
a=[3,4,5]
b=[1,3,2]
x=distance.euclidean(a,b)
x

3.7416573867739413

In [13]:
distance.minkowski([3,4,5],[1,3,2],1)#manhattan distance

6.0

In [14]:
distance.minkowski([3,4,5],[1,3,2],2)#euclidean distance

3.7416573867739413

In [15]:
distance.minkowski([3,4,5],[1,3,2],3)

3.3019272488946263

In [17]:
from scipy.spatial import distance_matrix
df=pd.DataFrame([[1,4],[2,5],[3,6]],columns=['a','b'])
df

   a  b
0  1  4
1  2  5
2  3  6

In [18]:
distance_matrix(df.values,df.values)

array([[0.        , 1.41421356, 2.82842712],
       [1.41421356, 0.        , 1.41421356],
       [2.82842712, 1.41421356, 0.        ]])

In [19]:
pd.DataFrame(distance_matrix(df.values,df.values))

          0         1         2
0  0.000000  1.414214  2.828427
1  1.414214  0.000000  1.414214
2  2.828427  1.414214  0.000000

In [20]:
df.values

array([[1, 4],
       [2, 5],
       [3, 6]], dtype=int64)

In [21]:
#distance matrix for interval scaled variable
data=[[15,95],[49,156],[13,95],[45,160],[85,178],[66,176],[12,90],[10,78]]
ctys=['A','B','C','D','E','F','G','H']
DF=pd.DataFrame(data,columns=['Weight','Height'],index=ctys)
DF

   Weight  Height
A      15      95
B      49     156
C      13      95
D      45     160
E      85     178
F      66     176
G      12      90
H      10      78

In [25]:
pd.DataFrame(distance_matrix(DF.values,DF.values),index=DF.index,columns=DF.index).round(1)

       A     B      C     D      E      F      G      H
A    0.0  69.8    2.0  71.6  108.6   95.7    5.8   17.7
B   69.8   0.0   70.8   5.7   42.2   26.2   75.7   87.2
C    2.0  70.8    0.0  72.4  109.9   96.8    5.1   17.3
D   71.6   5.7   72.4   0.0   43.9   26.4   77.4   89.2
E  108.6  42.2  109.9  43.9    0.0   19.1  114.3  125.0
F   95.7  26.2   96.8  26.4   19.1    0.0  101.5  112.9
G    5.8  75.7    5.1  77.4  114.3  101.5    0.0   12.2
H   17.7  87.2   17.3  89.2  125.0  112.9   12.2    0.0