In [5]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from scipy import stats
data=pd.read_excel('C:/Users/Mahendran/Downloads/nptel-DA/Simmons.xls')
data

    Customer  Spending  Card  Coupon
0          1     2.291     1       0
1          2     3.215     1       0
2          3     2.135     1       0
3          4     3.924     0       0
4          5     2.528     1       0
..       ...       ...   ...     ...
95        96     3.318     0       0
96        97     2.421     1       0
97        98     6.073     0       0
98        99     2.630     1       0
99       100     3.411     0       1

[100 rows x 4 columns]

In [9]:
x=data[['Spending','Card']]
y=data['Coupon']
x2=sm.add_constant(x)
model=sm.Logit(y,x2).fit()
model.summary()

Optimization terminated successfully.
         Current function value: 0.604869
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Coupon   No. Observations:                  100
Model:                          Logit   Df Residuals:                       97
Method:                           MLE   Df Model:                            2
Date:                Sat, 02 Apr 2022   Pseudo R-squ.:                  0.1012
Time:                        18:13:55   Log-Likelihood:                -60.487
converged:                       True   LL-Null:                       -67.301
Covariance Type:            nonrobust   LLR p-value:                  0.001098
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -2.1464      0.577     -3.718      0.000      -3.278      -1.015
Spending       0.3416      0.129      2.655      0.008       0.089       0.594
Card           1.0987      0.445      2.471      0.013       0.227       1.970
==============================================================================
"""

In [14]:
ge=-2*((-67.301)-(-60.487))
ge

13.628

In [16]:
from scipy.stats import chi2
chi2.pdf(ge,2)

0.000549145469075383